<h1>CLEAN YOUR ROOM<h1>
<h2>when was the last time you ... ?</h2>
<h3>I just did this like</h3>
<h4>last week</h4>
<h5>I thought</h5>
<small>...can't remember...</small>

<br /><br /><br />
<%= link_to 'Create a New Task', new_task_path %>
<br /><br /><br />
<%= link_to 'See All Tasks', tasks_path %>
<hr>

<ul><b>To do list: </b>
  <li>task can be updated to mark as complete</li>
  <li>add users, user has_many tasks </li>
  <li>enable user to pick from calendar for a due date</li>
  <li>enable user to specifiy a task as recurring</li>
  <li>add a time estimate/task size to task</li>
  <li>suggest an incomplete task for a user when they ask for a task</li>
  <li>track success rate for various tasks over time</li>
  <li>bootstrap it</li>
</ul>

<%= link_to 'Teacher Page', teachers_path %>
<%= link_to 'Student Page', students_path %>